<%= page_title t('rate_types.edit.label.heading', :rate_type => @rate_type.name) %>
<div id="newRateType">
  <div class="col9">
    <h2><%= raw t('rate_types.edit.label.heading', :rate_type => @rate_type.name) %></h2>
    <%= render 'form', :action => 'update' %>
    <br/>
    <h4><%= t('rate_types.edit.label.channels_already_mapped') %></h4>
    <% channels_mapped = RoomTypeChannelMapping.find_all_by_rate_type_id(@rate_type.id) %>
    <% if channels_mapped.blank? %>
      <p><%= t('rate_types.edit.label.no_channels_mapped') %></p>
    <% else %>
      <% RoomTypeChannelMapping.find_all_by_rate_type_id(@rate_type.id).each do |rtcm| %>
        <p>- <%= rtcm.channel.name %></p>
      <% end %>
    <% end %>
  </div>
</div>