<p>
  <label><%= t('room_type_channel_mappings.new.label.orbitz_single_rate_multiplier') %></label>
  <%= f.text_field :orbitz_single_rate_multiplier %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.orbitz_double_rate_multiplier') %></label>
  <%= f.text_field :orbitz_double_rate_multiplier %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.orbitz_additional_guest_amount') %></label>
  <%= f.text_field :orbitz_additional_guest_amount %>
</p>