<p>
  <label><%= t('property_channels.new.label.reservation_email_address') %><%= required %></label>
  <%= f.text_field :expedia_reservation_email_address %>
</p>
<p>
  <label><%= t('property_channels.new.label.modification_email_address') %><%= required %></label>
  <%= f.text_field :expedia_modification_email_address %>
</p>
<p>
  <label><%= t('property_channels.new.label.cancellation_email_address') %><%= required %></label>
  <%= f.text_field :expedia_cancellation_email_address %>
</p>
<p>
  <label><%= t('property_channels.new.label.currency') %><%= required %></label>
  <%= f.text_field :expedia_currency %>
</p>