<%= gta_travel_rate_type_radio_js %>
<% property_channel = PropertyChannel.find_by_property_id_and_channel_id(@room_type_channel_mapping.room_type.property.id, @channel.id) %>
<% if !property_channel.gta_travel_property_id.blank? %>
  <pre>
    <% contract_xml = GtaTravelChannel.get_property_contract(property_channel.gta_travel_property_id) %>
    <% doc = Nokogiri.XML(contract_xml) do |config| %>
      <% config.default_xml.noblanks %>
    <% end %>
    <%= doc.to_xml(:indent => 2) %>
  </pre>
<% end %>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_rate_plan_id') %></label>
  <%= f.text_field :gta_travel_rate_plan_id %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_rate_type') %></label>
  <%= f.radio_button(:gta_travel_rate_type, GtaTravelChannel::RATE_STATIC) %>&nbsp;<%= t('room_type_channel_mappings.new.label.gta_travel_rate_static') %>
  &nbsp;&nbsp;
  <%= f.radio_button(:gta_travel_rate_type, GtaTravelChannel::RATE_MARGIN) %>&nbsp;<%= t('room_type_channel_mappings.new.label.gta_travel_rate_margin') %>
</p>
<div class="gtaTravelMarginRate" style="<%= 'display: none' unless @room_type_channel_mapping.gta_travel_rate_type == GtaTravelChannel::RATE_MARGIN %>">
  <p>
    <label><%= t('room_type_channel_mappings.new.label.gta_travel_rate_margin') %></label>
    <%= f.text_field :gta_travel_rate_margin %>
  </p>
</div>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_single_rate_multiplier') %></label>
  <%= f.text_field :gta_travel_single_rate_multiplier, :disabled => !@room_type_channel_mapping.gta_travel_support_single_rate_multiplier? %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_double_rate_multiplier') %></label>
  <%= f.text_field :gta_travel_double_rate_multiplier, :disabled => !@room_type_channel_mapping.gta_travel_support_double_rate_multiplier? %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_triple_rate_multiplier') %></label>
  <%= f.text_field :gta_travel_triple_rate_multiplier, :disabled => !@room_type_channel_mapping.gta_travel_support_triple_rate_multiplier? %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_quadruple_rate_multiplier') %></label>
  <%= f.text_field :gta_travel_quadruple_rate_multiplier, :disabled => !@room_type_channel_mapping.gta_travel_support_quadruple_rate_multiplier? %>
</p>
<p>
  <label><%= t('room_type_channel_mappings.new.label.gta_travel_full_period') %></label>
  <%= f.radio_button(:gta_travel_full_period, true) %>&nbsp;Yes
  &nbsp;&nbsp;
  <%= f.radio_button(:gta_travel_full_period, false) %>&nbsp;No
</p>