<%= form_tag({:action => 'update', :controller => 'channel_rates'}, :id => "channel_rates-form-#{channel.id}") do %>
  <%= hidden_field_tag :pool_id, params[:pool_id] %>
  <%= hidden_field_tag :channel_id, channel.id %>
  <div class="gridHeader">
    <% pc = PropertyChannel.find_by_property_id_and_channel_id(current_property.id, channel.id) %>
    <div class="left"><h3><%= channel.name %></h3><span class="rateMultiplier"><%= t('inventories.grid.label.rate_multiplier', :rate_multiplier => pc.rate_conversion_multiplier) if !pc.rate_conversion_multiplier.blank? %></span></div>
    <div class="right">
      <%= link_to t('inventories.grid.label.copy_across'), '#', :class => 'btnActionTool copyAcross' %>
      <%= submit_tag t('button.save') %>
    </div>
  </div>
  <div class="dateTable">
    <div class="dataTableTool">
      <div class="tool"><%= check_box_tag(UiConstant::STOP_SELL_TOGGLE, nil, false, :class => UiConstant::STOP_SELL_TOGGLE) %><%= t('inventories.grid.label.stop_sell') %></div>
      <div class="tool"><%= check_box_tag(UiConstant::MIN_STAY_TOGGLE, nil, false, :class => UiConstant::MIN_STAY_TOGGLE) %><%= t('inventories.grid.label.min_stay') %></div>
      <div class="tool"><%= check_box_tag(UiConstant::CTA_TOGGLE, nil, false, :class => UiConstant::CTA_TOGGLE) %><%= t('inventories.grid.label.cta') %></div>
      <div class="tool"><%= check_box_tag(UiConstant::CTD_TOGGLE, nil, false, :class => UiConstant::CTD_TOGGLE) %><%= t('inventories.grid.label.ctd') %></div>
    </div>
    <%= render "rates_default_textboxes", :channel => channel, :property_channel => pc %>
  </div>
<% end %>