<%
# This is the default html for textboxes displayed in each channel's rates.
# Use it with this code:
# render "rates_default_textboxes", :channel => channel
%>
<% channel_code = channel.name.squish.downcase.tr(" ","_") %>
<% start_date = instance_variable_get("@#{channel_code}_rates_start")  %>
<% end_date = start_date + 13.days %>
<% end_date = @max_end if end_date > @max_end %>
<div class="dateTableRowHeader grey">
  <div class="bigColumn">
    <div class="date">
      <%= link_to '<<', grid_inventories_path("#{channel_code}_rates_start".to_sym => (start_date - 14.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
      <%= link_to '<', grid_inventories_path("#{channel_code}_rates_start".to_sym => (start_date - 7.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
      <% date_picker_field = "#{channel_code}_date_picker_field" %>
      <%= date_picker_js(channel_code, date_picker_field, @pool.id) %>
      <%= text_field_tag date_picker_field, start_date.strftime('%Y-%m-%d') %>
      <%= link_to '>', grid_inventories_path("#{channel_code}_rates_start".to_sym => (start_date + 7.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
      <%= link_to '>>', grid_inventories_path("#{channel_code}_rates_start".to_sym => (start_date + 14.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
    </div>
  </div>
  <% loop_date = start_date %>
  <% while loop_date <= end_date %>
    <div class="smallColumn <%= is_date_weekend?(loop_date) ? UiConstant::WEEKEND : '' %>">
      <div class="day"><%= loop_date.strftime('%a') %></div>
      <div class="date"><%= loop_date.strftime('%e') %></div>
      <div class="month"><%= loop_date.strftime('%b') %></div>
    </div>
    <% loop_date = loop_date + 1.day %>
  <% end %>
</div>
<% nothing_is_mapped = true %>
<% current_property.room_types.each do |rt| %>
  <% not_mapped = !rt.has_active_mapping_to_channel?(channel) %>
  <% nothing_is_mapped = not_mapped if !not_mapped %>
  <div class="dateTableRow">
    <div class="bigColumn"><strong><%= rt.name %></strong></div>
    <% loop_date = start_date %>
    <% while loop_date <= end_date %>
      <div class="smallColumn">
        <% master_rate_map = RoomTypeMasterRateChannelMapping.pool_id(@pool.id).find_by_room_type_id_and_channel_id(rt.id, channel.id) %>
        <% if !master_rate_map.blank? %>
          <% amount = 0 %>
          <% master_rate_room_type = master_rate_map.master_rate_mapping.room_type %>
          <% rate = MasterRate.find_by_date_and_property_id_and_pool_id_and_room_type_id(loop_date, current_property.id, params[:pool_id], master_rate_room_type.id) %>
          <% amount = rate.amount unless rate.blank? %>
          <% markup_amount = master_rate_map.apply_value(amount) %>
          <%= markup_amount %>
        <% else %>
          <% amount = determine_channel_rate_amount(loop_date, rt, channel, params[:pool_id], flash) %>
          <%= text_field_tag generate_rates_field_name(loop_date, rt, 'amount'), amount, :disabled => not_mapped, :class => 'numericOnly' %>
        <% end %>
      </div>
      <% loop_date = loop_date + 1.day %>
    <% end %>
  </div>
  <div class="dateTableRow stopSell" style="<%= 'display:none' %>">
    <div class="bigColumn">&nbsp;&nbsp;<%= t('inventories.grid.label.stop_sell') %></div>
    <% loop_date = start_date %>
    <% while loop_date <= end_date %>
      <div class="smallColumn">
        <% stop_sell = false %>
        <% rate = ChannelStopSell.find_by_date_and_property_id_and_pool_id_and_room_type_id_and_channel_id(loop_date, current_property.id, params[:pool_id], rt.id, channel.id) %>
        <% stop_sell = rate.stop_sell unless rate.blank? %>
        <% stop_sell_field = generate_rates_field_name(loop_date, rt, 'stop_sell') %>
        <%= hidden_field_tag stop_sell_field, 0 %>
        <%= check_box_tag stop_sell_field, 1, stop_sell, :disabled => not_mapped %>
      </div>
      <% loop_date = loop_date + 1.day %>
    <% end %>
  </div>
  <div class="dateTableRow minStay" style="<%= 'display:none' %>">
    <div class="bigColumn">&nbsp;&nbsp;<%= t('inventories.grid.label.min_stay') %></div>
    <% loop_date = start_date %>
    <% while loop_date <= end_date %>
      <div class="smallColumn minStay">
        <% min_stay = determine_channel_rate_min_stay(loop_date, rt, channel, params[:pool_id], flash) %>
        <%= text_field_tag generate_rates_field_name(loop_date, rt, 'min_stay'), min_stay, :disabled => not_mapped, :class => 'numericOnly' %>
      </div>
      <% loop_date = loop_date + 1.day %>
    <% end %>
  </div>
  <div class="dateTableRow cta" style="<%= 'display:none' %>">
    <div class="bigColumn">&nbsp;&nbsp;<%= t('inventories.grid.label.cta') %></div>
    <% loop_date = start_date %>
    <% while loop_date <= end_date %>
      <div class="smallColumn">
        <% cta = false %>
        <% rate = ChannelCta.find_by_date_and_property_id_and_pool_id_and_room_type_id_and_channel_id(loop_date, current_property.id, params[:pool_id], rt.id, channel.id) %>
        <% cta = rate.cta unless rate.blank? %>
        <% cta_field = generate_rates_field_name(loop_date, rt, 'cta') %>
        <%= hidden_field_tag cta_field, 0 %>
        <%= check_box_tag generate_rates_field_name(loop_date, rt, 'cta'), 1, cta, :disabled => not_mapped %>
      </div>
      <% loop_date = loop_date + 1.day %>
    <% end %>
  </div>
  <div class="dateTableRow ctd" style="<%= 'display:none' %>">
    <div class="bigColumn">&nbsp;&nbsp;<%= t('inventories.grid.label.ctd') %></div>
    <% loop_date = start_date %>
    <% while loop_date <= end_date %>
      <div class="smallColumn">
        <% ctd = false %>
        <% rate = ChannelCtd.find_by_date_and_property_id_and_pool_id_and_room_type_id_and_channel_id(loop_date, current_property.id, params[:pool_id], rt.id, channel.id) %>
        <% ctd = rate.ctd unless rate.blank? %>
        <% ctd_field = generate_rates_field_name(loop_date, rt, 'ctd') %>
        <%= hidden_field_tag ctd_field, 0 %>
        <%= check_box_tag generate_rates_field_name(loop_date, rt, 'ctd'), 1, ctd, :disabled => not_mapped %>
      </div>
      <% loop_date = loop_date + 1.day %>
    <% end %>
  </div>
<% end %>
<% if nothing_is_mapped %>
  <div class="info">
    <%= raw t('inventories.grid.label.nothing_mapped', link: edit_property_channel_path(:id => property_channel.id), :channel_name => channel.name) %>
  </div>
<% end %>