<% start_date = @inv_start  %>
<% end_date = start_date + 13.days %>
<% end_date = @max_end if end_date > @max_end %>
<div id="setPoolInventory">
  <%= render 'pools/generic_select', :path_to_go => grid_inventories_path %>
  <%= store_previously_selected_js %>
  <%= copy_across_inventories_js %>
  <%= copy_up_down_inventories_js %>
  <%= copy_across_js %>
  <%= copy_up_down_js %>
  <%= form_tag(:action => 'update', :controller => 'inventories') do %>
    <div class="gridHeader">
      <div class="left"><h2><%= t('inventories.grid.label.availability') %></h2></div>
      <div class="right">
        <%= link_to t('inventories.grid.label.copy_across'), '#', :class => 'btnActionTool copyAcrossInventories' %>
        <%= link_to t('inventories.grid.label.copy_up_down'), '#', :class => 'btnActionTool copyUpdownInventories' %>
        <%= submit_tag t('button.save') %>
      </div>
    </div>
    <%= hidden_field_tag :pool_id, params[:pool_id] %>
    <%= hidden_field_tag :inv_start, params[:inv_start] %>
    <div class="dateTable">
      <div class="dateTableRowHeader grey">
        <div class="bigColumn">
          <div class="date">
            <%= link_to '<<', grid_inventories_path(:inv_start => (start_date - 14.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
            <%= link_to '<', grid_inventories_path(:inv_start => (start_date - 7.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
            <% inventory_date_picker_field = 'inv_date_picker' %>
            <%= inventory_date_picker_js(inventory_date_picker_field, @pool.id) %>
            <%= text_field_tag inventory_date_picker_field, start_date.strftime(Constant::GRID_DATE_FORMAT), :readonly => "readonly" %>
            <%= link_to '>', grid_inventories_path(:inv_start => (start_date + 7.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
            <%= link_to '>>', grid_inventories_path(:inv_start => (start_date + 14.days).strftime(Constant::GRID_DATE_FORMAT), :pool_id => @pool.id), :class => 'control btnActionGrey' %>
          </div>
        </div>
        <% loop_date = start_date %>
        <% while loop_date <= end_date %>
          <div class="smallColumn <%= is_date_weekend?(loop_date) ? UiConstant::WEEKEND : '' %>">
            <div class="day"><%= loop_date.strftime('%a') %></div>
            <div class="date"><%= loop_date.strftime('%e') %></div>
            <div class="month"><%= loop_date.strftime('%b') %></div>
          </div>
          <% loop_date = loop_date + 1.day %>
        <% end %>
      </div>
      <% current_property.room_types.each do |rt| %>
        <% not_mapped = (!rt.mapped? or !@pool.has_channel?) %>
        <div class="dateTableRow">
          <div class="bigColumn"><strong><%= rt.is_inventory_linked? ? "#{rt.name} >> #{rt.linked_room_type.name}" : rt.name %></strong></div>
          <% loop_date = start_date %>
          <% while loop_date <= end_date %>
            <div class="smallColumn">
              <% rooms = rt.calculated_inventory(loop_date, @pool, flash) %>
              <% if rt.is_inventory_linked? %>
                <%= rooms %>
              <% else %>
                <%= hidden_field_tag generate_original_inventory_field_value(loop_date, rt), rooms %>
                <%= text_field_tag generate_inventory_field_name(loop_date, rt), rooms, :disabled => not_mapped, :class => 'numericOnly' %>
              <% end %>
              </div>
            <% loop_date = loop_date + 1.day %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br/>
  <br/>
  <h2><%= t('inventories.grid.label.prices') %></h2>
  <br/>
  <%= render 'master_rates' %>
  <br/>
  <br/>
  <%= render 'channel_rates' %>
</div>