<%= page_title t('pool_selection.label.heading') %>
<div id="poolSelection">
  <div class="col9">
    <h2><%= t('pool_selection.label.heading') %></h2>
    <p><%= t('pool_selection.label.inventory_grid') %></p>
    <% current_property.pools.each do |pool| %>
      <p>
        <%= link_to pool.name, grid_inventories_path(:pool_id => pool.id) %> (
          <% len = pool.channels.size %>
          <% if len > 0 %>
            <% pool.channels.each_with_index do |c, index| %>
              <%= c.channel.name %><%= ', ' if (index + 1 != len) %>
            <% end %>
          <% else %>
            <%= t('pool_selection.label.no_channel') %>
          <% end %>)
      </p>
    <% end %>
  </div>
</div>