<div class="breadcrumb">
  <% if current_page?(new_wizard_for_account_admin_accounts_path) %>
  
  <% end %>
  <div class="step <%= 'current' if current_page?(new_wizard_for_account_admin_accounts_path) %>">
    <%= t('admin.accounts.new.breadcrumb.account_details') %>
  </div>
  <div class="separator">&gt;&gt;</div>
  <div class="step <%= 'current' if current_page?(new_wizard_for_super_member_admin_accounts_path) %>">
    <%= t('admin.accounts.new.breadcrumb.super_member_details') %>
  </div>
  <div class="separator">&gt;&gt;</div>
  <div class="step <%= 'current' if current_page?(done_creating_admin_accounts_path) %>">
    <%= t('admin.accounts.new.breadcrumb.done_creating') %>
  </div>
</div>