<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %> - Chanelink</title>
  <%= include_stylesheets :main %>
  <%= javascript_include_tag 'jquery-1.7.2.min', 'jquery-ui-1.9.2.custom.min', 'highstock', 'jshashtable-3.0', 'grouped-categories', 'apprise-v2', 'rails', 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <%= numeric_only_input_js %>
  <%= render 'layouts/inactivity_check' if ::Rails.env != 'development' %>
  <header>
    <div class="plc">
      <h1><a href="/"></a></h1>
      <%= render 'layouts/top_panel' %>
    </div>
  </header>
  <section id="contents">
    <div class="plc">
      <div id="dashboard">
        <%= render 'layouts/menu' %>
        <div id="mainContents">
          <%= render 'layouts/notification' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'layouts/footer' %>
</body>
</html>
