<%= page_title t('members.edit.label.heading') %>
<div id="newMember">
  <div class="col9">
    <h2><%= raw t('members.edit.label.heading') %></h2>
    <%= form_for @user, :url => {:controller => "admin/users", :action => "update"} do |f| %>
      <%= render 'form_fields', :f => f %>
      <p>
        <%= f.submit t("button.save") %>
        <%= link_to t('button.cancel'), admin_users_path %>
      </p>
    <% end %>
  </div>
</div>