<p>
  <label><%= t('property_channels.new.label.username') %><%= required %></label>
  <%= f.text_field :agoda_username %>
</p>
<p>
  <label><%= t('property_channels.new.label.password') %><%= required %></label>
  <%= f.text_field :agoda_password %>
</p>