<p>
  <label><%= t('property_channels.new.label.username') %></label>
  <%= @property_channel.bookingcom_username %>
</p>
<p>
  <label><%= t('property_channels.new.label.password') %></label>
  <%= @property_channel.bookingcom_password %>
</p>
<p>
  <label><%= t('property_channels.new.label.reservation_email_address') %></label>
  <%= @property_channel.bookingcom_reservation_email_address %>
</p>