<p>
  <label><%= t('property_channels.new.label.username') %><%= required %></label>
  <%= text_field_tag 'property_channel[settings][username]', @property_channel.settings(:username) %>
</p>
<p>
  <label><%= t('property_channels.new.label.password') %><%= required %></label>
  <%= password_field_tag 'property_channel[settings][password]', @property_channel.settings(:password) %>
</p>