<p>
  <label><%= t('property_channels.new.label.reservation_email_address') %></label>
  <%= @property_channel.expedia_reservation_email_address %>
</p>
<p>
  <label><%= t('property_channels.new.label.modification_email_address') %></label>
  <%= @property_channel.expedia_modification_email_address %>
</p>
<p>
  <label><%= t('property_channels.new.label.cancellation_email_address') %></label>
  <%= @property_channel.expedia_cancellation_email_address %>
</p>
<p>
  <label><%= t('property_channels.new.label.currency') %></label>
  <%= @property_channel.expedia_currency %>
</p>