<p>
  <label><%= t('property_channels.new.label.property_id') %><%= required %></label>
  <%= f.text_field :orbitz_hotel_code %>
</p>
<p>
  <label><%= t('property_channels.new.label.chain_code') %><%= required %></label>
  <%= f.text_field :orbitz_chain_code %>
</p>