<%= page_title t('property_channels.edit.label.heading', :channel => @property_channel.channel.name) %>
<div id="newChannel">
  <div class="col12">
    <h2><%= raw t('property_channels.edit.label.heading', :channel => @property_channel.channel.name) %></h2>

    <%= form_for @property_channel do |f| %>
      <p>
        <label><%= t('property_channels.new.label.status') %></label>
        <%= f.radio_button(:disabled, false) %>&nbsp;<span class="green"><%= t("general.enabled") %></span>
        &nbsp;&nbsp;
        <%= f.radio_button(:disabled, true) %>&nbsp;<span class="red"><%= t("general.disabled") %></span>
      </p>
      <p>
        <label><%= raw t('property_channels.new.label.rate_multiplier') %></label>
        <%= f.text_field :rate_conversion_multiplier %>
      </p>
      <% if !current_property.currency_conversion_disabled? %>
        <p class="currency">
          <%= to_currency_select_notify_js %>
          <label><%= raw t('property_channels.new.label.currency_conversion') %></label>
          <%= select_tag "currency_conversion[to_currency_id]", options_for_select(Currency.currency_list_with_prompt, @currency_conversion.to_currency_id) %>
        </p>
        <p class="currency">
          <%= currency_multiplier_js %>
          <label><%= raw t('property_channels.new.label.conversion_multiplier') %></label>
          <%= text_field_tag "currency_conversion[multiplier]", @currency_conversion.multiplier %>
        </p>
        <p class="currency">
          <%= update_currency_calculation_js %>
          <label>&nbsp;</label>
          <div class="calculation" style="<%= 'display:none;' if @currency_conversion.to_currency.blank? %>">
            1 <span class="baseCurrency"><%= current_property.currency.code %></span> = <span class="baseMultiplier"><%= @currency_conversion.multiplier.blank? ? 0 : @currency_conversion.multiplier %></span> <span class="toCurrency"><%= @currency_conversion.to_currency.code unless @currency_conversion.to_currency.blank?  %></span>
            <br/>
            1 <span class="toCurrency"><%= @currency_conversion.to_currency.code unless @currency_conversion.to_currency.blank? %></span> = <span class="toMultiplier"><%= @currency_conversion.multiplier.blank? ? 0 : (1.0/@currency_conversion.multiplier) %></span> <span class="baseCurrency"><%= current_property.currency.code %></span>
          </div>
        </p>
        <br clear="all"/>
      <% end %>
      <%= render "#{@property_channel.channel.cname}_setting", :f => f %>
      <br/>
      <% if !@property_channel.disabled? %>
       <%= check_pc_disabled_js('property_channel_submit', @property_channel) %>
      <% end %>
      <p>
        <%= f.submit t("button.save") %>
      </p>
    <% end %>
    <br/>
    <h4><%= t('property_channels.edit.label.rooms_mapped') %></h4>
    <br/>
    <% rooms_mapped = RoomTypeChannelMapping.room_type_ids(current_property.room_type_ids).where(:channel_id => @property_channel.channel.id) %>
    <% if !rooms_mapped.blank? %>
      <% rooms_mapped.each do |mapping| %>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= mapping.room_type.name %> <%= t('property_channels.edit.label.mapped_to') %> <%= mapping.agoda_room_type_name %><%= mapping.expedia_room_type_name %><%= mapping.bookingcom_room_type_name %><%= mapping.gta_travel_room_type_name %><%= mapping.orbitz_room_type_name %><%= mapping.ctrip_room_type_name %><% if mapping.disabled? %>- <span class="red"><%= t("general.disabled") %></span><% end %>  - <%= link_to t('room_type_channel_mappings.edit.link'), edit_room_type_channel_mapping_path(mapping) %>
          - <%= link_to t('room_type_channel_mappings.delete.link'), '', :onclick => "javascript: deleteChannelMappingDialog('#{t('room_type_channel_mappings.delete.dialog.title')}', '#{delete_channel_mapping_dialog_body(mapping.room_type, mapping.channel)}', '#{delete_room_type_channel_mapping_path(mapping)}'); return false;" %></p>
        <%=  %>
      <% end %>
    <% else %>
      <p>
        <%= t('property_channels.edit.label.no_rooms_mapped') %>
      </p>
    <% end %>
    <br/>
    <h4><%= t('property_channels.edit.label.rooms_not_mapped') %></h4>
    <br/>
    <% count_not_mapped = 0 %>
    <% if !current_property.room_types.blank? %>
      <% current_property.room_types.each do |rt| %>
        <% if RoomTypeChannelMapping.where(:room_type_id => rt.id, :channel_id => @property_channel.channel.id).blank? %>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= rt.name %> - <%= link_to t('room_type_channel_mappings.new.label.link_set'), new_room_type_channel_mapping_path(:room_type_id => rt.id, :property_channel_id => @property_channel.id) %> </p>
          <% count_not_mapped = count_not_mapped + 1 %>
        <% end %>
      <% end %>
    <% end %>
    <% if count_not_mapped == 0 %>
      <p>
        <%= t('property_channels.edit.label.all_rooms_mapped') %>
      </p>
    <% end %>
    <br/>
    <h4><%= t('property_channels.edit.label.channel_rooms_not_mapped', :channel => @property_channel.channel.name) %></h4>
    <br/>
      <% channel_not_mapped = @property_channel.channel.room_type_fetcher.retrieve(current_property, true) %>
      <% if !channel_not_mapped.blank? %>
        <% channel_not_mapped.each do |crt| %>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= "#{crt.name} - #{crt.id}" %> </p>
        <% end %>
      <% else %>
        <p>
          <%= t('property_channels.edit.label.all_channel_rooms_mapped', :channel => @property_channel.channel.name) %>
        </p>
      <% end %>
  </div>
</div>