<h2><%= raw t('room_type_master_rate_channel_mappings.edit.label.heading') %></h2>
<p>Channel: <strong><%= @room_type_master_rate_channel_mapping.channel.name %> </strong></p>
<p>Room Type: <strong><%= @room_type_master_rate_channel_mapping.room_type.name %> (<%= @room_type_master_rate_channel_mapping.rate_type.name %>)</strong></p>
<%= form_for @room_type_master_rate_channel_mapping, :url => {:action => action, :pool_id => @pool.id} do |f| %>
  <%= f.hidden_field :channel_id, :value => @room_type_master_rate_channel_mapping.channel_id %>
  <%= f.hidden_field :room_type_id, :value => @room_type_master_rate_channel_mapping.room_type_id %>
  <%= f.hidden_field :rate_type_id, :value => @room_type_master_rate_channel_mapping.rate_type_id %>

  <p>
    <label><%= t("room_type_master_rate_channel_mappings.edit.label.master_rate_room") %></label>
    <%= f.select :room_type_master_rate_mapping_id, options_for_select(RoomTypeMasterRateMapping.select_list(@pool), @room_type_master_rate_channel_mapping.room_type_master_rate_mapping_id) %>
  </p>
  <p>
    <label><%= t("room_type_master_rate_channel_mappings.edit.label.value_type") %></label>
    <%= f.radio_button(:method, RoomTypeMasterRateChannelMapping::PERCENTAGE) %><%= t("room_type_master_rate_channel_mappings.edit.label.percentage") %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.radio_button(:method, RoomTypeMasterRateChannelMapping::AMOUNT) %><%= t("room_type_master_rate_channel_mappings.edit.label.amount") %>
    <%= master_rate_radio_js %>
  </p>
  <% percentage_display = (@room_type_master_rate_channel_mapping.method == RoomTypeMasterRateChannelMapping::PERCENTAGE) ? '' : 'display: none' %>
  <p class="percentage" style="<%= percentage_display %>">
    <label><%= t("room_type_master_rate_channel_mappings.edit.label.value") %><%= required %></label>
    <%= f.text_field :percentage %>&nbsp;%
  </p>

  <% amount_display = (@room_type_master_rate_channel_mapping.method == RoomTypeMasterRateChannelMapping::AMOUNT) ? '' : 'display: none' %>
  <p class="amount" style="<%= amount_display %>">
    <label><%= t("room_type_master_rate_channel_mappings.edit.label.value") %><%= required %></label>
    <%= f.text_field :value %>
  </p>
  <p>
    <em><%= raw t("room_type_master_rate_channel_mappings.edit.label.value_notes") %></em>
  </p>
  <p>
    <%= f.submit t("button.save") %>
  </p>
<% end %>