<%= page_title t('pools.new.label.heading') %>

<%= javascript_tag "$(document).ready(function () {
    
    $('#btnRight').click(function (e) {

        var selectedOpts = $('#other_pools option:selected:not([disabled])');
        if (selectedOpts.length == 0) {
            alert('Nothing to move.');
            e.preventDefault();
        }

        $('#pool_assigned_channels').append($(selectedOpts).clone());
        $(selectedOpts).attr('disabled','disabled');
        $(selectedOpts).each(function(){
          $(this).text($(this).text() + ' (Moved)');
        });
        e.preventDefault();
    });

    $('#btnLeft').click(function (e) {
        var selectedOpts = $('#pool_assigned_channels option:selected');
        if (selectedOpts.length == 0) {
            alert('Nothing to move.');
            e.preventDefault();
        }

        $('#other_pools > optgroup').each(function() {
            $(this).children('option').each(function(){
                if ($(this).val() == $(selectedOpts).val()) {
                    $(this).text($(selectedOpts).text());
                    $(this).attr('disabled', false);
                }
            });
        });
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $('#newPoolSubmit').click(function(e) {
      $('#pool_assigned_channels option').prop('selected',true);
    });

    var moved_channels = ['#{@pool.assigned_channels.join("','") unless @pool.assigned_channels.blank?}'];
    $('#other_pools > optgroup').each(function() {
        $(this).children('option').each(function(){
            if ($.inArray($(this).val(), moved_channels) > -1) {
                $(this).attr('disabled','disabled');
                $(this).text($(this).text() + ' (Moved)');
            }
        });
    });

});" %>

<div id="newPool">
  <div class="col9">
    <h2><%= raw t('pools.new.label.heading') %></h2>
    <%= render 'breadcrumb' %>
    <%= form_for @pool, :url => {:controller => 'pools', :action => 'new_wizard_confirmation'} do |f| %>
      <p>
        <label><%= t('pools.new.label.name') %><%= required %></label>
        <%= f.text_field :name %>
      </p>
      <br/>
      <h4><%= raw t('pools.new.label.move_channels') %></h4>
      <br/>
      <div class="moveChannels">
        <div class="left">
          <p><%= raw t('pools.new.label.other_pools') %></p>
          <%= select_tag 'other_pools', grouped_options_for_select(Pool.list_channel_by_pool_group(current_property)), :multiple => true, :class => 'list' %>
        </div>
        <div class="mid secondary">
          <input type='button' id='btnRight' value='  >  ' />
          <br/>
          <input type='button' id='btnLeft' value='  <  ' />
        </div>
        <div class="right">
          <p><%= raw t('pools.new.label.new_pool') %></p>
          <%= select_tag 'pool[assigned_channels]', options_for_select(Pool.ids_to_list(@pool.assigned_channels), params[:pool]), :multiple => true, :class => 'list' %>
        </div>
      </div>
      <p><%= f.submit t("button.continue"), :id => 'newPoolSubmit' %><%= link_to t('button.cancel'), pools_path %></p>
    <% end %>
  </div>
</div>