<%= page_title t('members.prompt_password.label.heading') %>
<div id="newMember">
  <div class="col9">
    <h2><%= raw t('members.prompt_password.label.heading') %></h2>

    <%= form_tag prompt_password_set_member_path(@member) do %>
      <p>
        <label><%= t('members.new.label.password') %></label>
        <%= password_field_tag 'new_password', nil %>
      </p>
      <p>
        <label><%= t('members.new.label.password_confirmation') %></label>
        <%= password_field_tag 'new_password_confirmation', nil %>
      </p>
      <br/>
      <p><%= submit_tag t("button.save") %></p>
    <% end %>
  </div>
</div>